@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  min-width: 1280px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index,
.main-inner {
  flex-grow: 1;
}


/* buttons */
.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 8px 34px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 300px;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-brown:hover,
.button-brown:focus-visible {
  background-color: #615048;
}

.button-blue:hover,
.button-blue:focus-visible {
  background-color: #68a2ca;
}

.button-green:hover,
.button-green:focus-visible {
  background-color: #6c9e42;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

/* header */
.navigation {
  display: flex;
  position: relative;
  align-items: center;
}

.navigation-logo-link {
  display: block;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style: none;
  margin-left: 238px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 250px;
  margin-left: auto;
  margin-right: 20px;
  list-style: none;
  display: flex;
}

.navigation-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user-link {
  text-decoration: none;
  align-items: center;
  display: block;
  min-width: 44px;
  min-height: 64px;
  margin: 0;
  position: relative;
}

.like-number {
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  padding: 4px;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 12px;
  right: 4px;
}

.search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.like {
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-nav {
  margin-right: 70px;
}

/* hero */
.hero {
  min-height: 485px;
  background-image: url("../images/hero-white-vector.svg"), url("../images/index-hero-background.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: bottom, center;
  background-color: #6185a5;
  text-align: center;
}

.hero img {
  margin-top: 51px;
  margin-bottom: 78px;
}

/* advantages */
.advantages {
  text-align: center;
}

.advantages-images {
  object-fit: cover;
}

.advantages-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 69px 285px 25px;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 90px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 102px 112px 62px;
}

.advantages-item:not(.advantages-picture) h3 {
  margin: 113px 112px 62px;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 85px;
  margin-right: 85px;
  position: relative;
}

.advantages-description::before {
  position: absolute;
  width: 60px;
  height: 2px;
  top: -31px;
  left: 83px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-item:not(.advantages-picture) .advantages-description::before {
  position: absolute;
  width: 60px;
  height: 2px;
  top: -33px;
  left: 85px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-wrapper {
  width: 400px;
}

.advantages-item {
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  min-height: 385px;
}

.advantages-picture {
  width: 1200px;
  display: flex;
}

.advantages-reverse {
  flex-direction: row-reverse;
}

.color-white,
.color-white .advantages-title {
  color: #ffffff;
}

/* background-color */
.background-blue {
  background-color: #82b3d3;
}

.background-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-medium-blue {
  background-color: rgba(131, 179, 211, 0.2);
}


/* services */
.services {
  text-align: center;
}

.services-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 64px 347px 20px;
}

.services-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 64px;
}

.services-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.services-item {
  min-width: 400px;
  list-style: none;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 183px 85px 30px;
}

.services-description {
  margin: 0 85px 81px;
}

.services-home {
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.services-food {
  background-image: url("../images/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.services-gift {
  background-image: url("../images/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

/* booking */
.booking {
  text-align: center;
}

.booking-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 96px 451px 20px;
}

.booking-text {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-left: 304px;
  margin-right: 304px;
  margin-bottom: 54px;
}

.button-booking {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 96px;
  padding: 8px 50px;
  max-width: 700px;
}

/* subscribe */
.subscribe {
  text-align: center;
  padding: 0 70px;
}

.subscribe-background {
  background-image: url("../images/index-subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6185a5;
  padding: 0 70px;
}

.subscribe-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 96px;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 260px 54px;

}

.subscribe-form {
  padding-bottom: 104px;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/* footer */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
  margin: 0 70px;
}

.social-list {
  width: 150px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.social-item {
  min-height: 40px;
}

.social-link {
  min-width: 47px;
  min-height: 40px;
  display: flex;
  padding: 12px 12px;
  color: #83b3d3;
}

.social-link:hover svg,
.social-link:focus-visible svg {
  fill: #68a2ca;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.tel {
  margin: 0;
}

.tel-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  display: block;
  margin-left: -5px;
}

.tel-link:hover,
.tel-link:focus-visible {
  color: rgba(117, 97, 87, 1);
}

.tel-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html-academy {
  margin: 0;
}

.logo-html-academy-link {
  display: block;
  color: rgba(0, 0, 0, 1);
}

.logo-html-academy:hover svg,
.logo-html-academy:focus-visible svg {
  fill: rgba(117, 97, 87, 1);
}

.logo-html-academy:active svg {
  fill: rgba(117, 97, 87, 0.3);
}


/*        catalog         */
/* filters */
.catalog-products {
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background-color: #6185a5;
}

.catalog-filters-header h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 35px 635px 8px 70px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 40px;
  list-style: none;
  display: flex;
}

.breadcrumbs-item {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 28px;
  align-items: center;
}


.breadcrumbs-item::after {
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  content: "";
  position: absolute;
  width: 6px;
  height: 11px;
  top: 5px;
  right: -18px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-home {
  background-image: url("../images/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: block;
  width: 13px;
  height: 15px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  padding: 0 70px 70px;
  margin: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: 0;
  width: 150px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-infrastructure {
  margin-right: 70px;
}

.catalog-filter-housing {
  margin-right: auto;
}

.catalog-filter-cost {
  margin-right: 70px;
}

.catalog-filter-inputs-wrapper {
  display: flex;
  margin-bottom: 43px;
}

.catalog-filter-input {
  position: relative;
}

.control-input-cost {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 45px 0 20px;
  width: 143px;
  height: 48px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  appearance: none;
  -moz-appearance: textfield;
}

.cost-span {
  position: absolute;
  right: 20px;
  top: 13px;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
}

.control-input-cost::-webkit-outer-spin-button,
.control-input-cost::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control-input-cost:hover {
  background-color: rgba(230, 230, 230, 1);
}

.range {
  display: flex;
  flex-direction: column;
  width: 288px;
}

.min-price {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  width: 226px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.min-toggle {
  top: -7px;
  left: 0;
}

.max-toggle {
  top: -7px;
  right: -1px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid rgba(131, 179, 211, 0.6);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  max-width: 190px;
}

.button-filter-accept,
.button-filter-reset {
  padding: 8px 50px;
}

.button-filter-accept {
  margin-top: 56px;
  margin-bottom: 32px;
}

.button-filter-reset {
  background: transparent;
}

.button-filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* control  */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.control:active .control-mark {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 11px;
  left: 3px;
  width: 7px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 12px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(-45deg);
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.catalog-filter-item:hover {
  opacity: 60%;
  color: rgba(255, 255, 255, 1);
}

.catalog-filter-item:active {
  opacity: 30%;
  color: rgba(255, 255, 255, 1);
}

.catalog-filter-item:focus-visible {
  opacity: 30%;
  color: rgba(255, 255, 255, 1);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.control-label {
  line-height: 23px;
  font-size: 18px;
}

/* filter-sort */
.filter-sort {
  display: flex;
  align-items: center;
  padding: 50px 70px 40px;
}

.filter-sort-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  min-width: 338px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.sorting {
  position: relative;
  display: flex;
  align-items: center;
}

.sorting-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
  padding: 0 37px 0 20px;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  background-image: url("../images/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93% 54%;
  appearance: none;
  border: 2px solid rgba(229, 229, 229, 1);
}

.sorting-control:hover,
.sorting-control:focus-visible {
  border: 2px solid #68a2ca;
}

.sorting-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.card-view-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.card-view-button {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-view-button-active {
  border: 2px solid #000000;
}

.card-view-button:hover {
  border-color: rgba(0, 0, 0, 1);
}

.card-view-button:active {
  border-color: rgba(0, 0, 0, 1);
}


.card-view-button-tile {
  background-image: url("../images/card-view-tile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card-view-button-full {
  background-image: url("../images/card-view-full.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card-view-button-list {
  background-image: url("../images/card-view-list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* product-card */
.product-card {
  padding: 0 70px;
  margin-bottom: 60px;
}

.product-card-list {
  padding: 0;
  padding-bottom: 38px;
  margin: 0;
  margin-bottom: 38px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.product-card-img {
  vertical-align: bottom;
}

.product-card-link {
  display: block;
  text-decoration: none;
  grid-column: 1/-1;
}

.product-card-item {
  border: 1px solid #e6e6e6;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px auto;
  gap: 16px 20px;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 1/-1;
}

.stars-raiting {
  background-image: url("../images/star.svg");
  background-repeat: space;
  height: 17px;
  margin: 9px 1px;
}

.stars-4 {
  width: 89px;
}

.stars-3 {
  width: 65px;
}

.stars-2 {
  width: 42px;
}


.hotel {
  grid-column: 1/2;
}

.price {
  grid-column: 2/3;
  justify-self: end;
}

.hotel,
.price {
  margin: 0;
}

.product-cards-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  min-width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  text-align: center;
  grid-column: 2/3;
}

.button-product-card {
  padding: 8px 26px;
  align-self: center;
}

.button-favourites {
  padding: 8px 20px;
}

.button-favourites-added {
  padding: 8px 18px;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  background-color: #82b3d3;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 10px 12px;
  border: 1px solid transparent;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination a:not(.pagination-current):hover {
  border-color: rgba(130, 179, 211, 1);
  background-color: rgba(104, 162, 202, 1);
}

.pagination a:not(.pagination-current):active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.pagination span {
  min-width: 60px;
  min-height: 60px;
  background-color: #ffffff;
  display: block;
  padding: 11px 10px 12px;
}


/* subscribe */
.subscribe-catalog input {
  background-color: rgba(242, 242, 242, 1);
}

.subscribe-catalog h2 {
  color: #000000;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  color: #000000;
  margin: auto;
  background-color: #ffffff;
  padding: 64px 70px;
  border: none;
  border-radius: 30px;
}

.modal-booking {
  max-width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 53px;
  width: 52px;
  height: 52px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button svg {
  transform: translate(1px, 2px);
}

.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.booking-form .field-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 23px;
}

.people-wrapper .field-group {
  margin-bottom: 48px;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.booking-form .form-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 12px;
  width: 120px;
  position: relative;
}

.booking-date-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: rgba(242, 242, 242, 1);
  width: 440px;
  border: none;
  padding: 12px 43px 12px 20px;
  margin: 0;
  margin-bottom: 4px;
  border-radius: 4px;
  background-image: url("../images/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: 400px;
}

.booking-date-span {
  font-size: 16px;
  line-height: 21px;
  padding: 0 20px;
  margin-left: 137px;
}

.booking-date-error {
  color: rgba(255, 87, 87, 1);
}

.people-wrapper {
  display: flex;
  justify-content: space-between;
}

.control-input-adults,
.control-input-children {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 31px;
  padding: 14px 3px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  -moz-appearance: textfield;
}

.modal-booking input::-webkit-outer-spin-button,
.modal-booking input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-quantity {
  width: 40px;
  height: 48px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  padding: 0;
}

.button-plus {
  padding-top: 5px;
}

.button-minus {
  padding-bottom: 5px;
}

.button-quantity svg {
  fill: rgba(117, 97, 87, 0.3);
}

.button-quantity:hover svg {
  fill: rgba(0, 0, 0, 1);
}

.button-quantity:active svg {
  fill: rgba(0, 0, 0, 0.2);
}

.adults .adults-label {
  margin-right: 46px;
  width: 91px;
}

.field-group .adults {
  display: flex;
}

.children-label {
  position: relative;
  margin-right: 82px;
}

.button-modal-search {
  font-size: 20px;
  line-height: 24px;
  min-width: 577px;
  padding: 18px 0;
  border-radius: 10px;
}


/* tooltip */
.tooltip {
  position: absolute;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 49px;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-text {
  background-color: rgba(51, 51, 51, 1);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 15px 18px;
  border-radius: 8px;
  width: 256px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  transform: translateX(-45%);
  z-index: 1;
  display: none;
  text-transform: none;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/triangle-tooltip.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}

/* закрывает модальное окно*/
.modal-close {
  display: none;
}
